<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Member</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>회원가입</h1>
    <form th:action="@{/members/join}" th:object="${member}" method="post">
        <label th:for="name">이름</label>
        <input type="text" th:field="*{name}" placeholder="이름"><br>

        <label th:for="id">아이디</label>
        <input type="text" th:field="*{id}" placeholder="아이디">
        <input type="submit" name="button" value="중복확인">
        <p th:text="${dup}"></p>

        <label th:for="pw">비밀번호</label>
        <input type="text" th:field="*{pw}" placeholder="비밀번호"><br>

        <label>비밀번호 확인</label>
        <input type="text" placeholder="비밀번호 확인"><br>
        <input th:if=${pass} type="submit" name="button" value="가입"><br>
    </form>
    <div th:if="${move}">
        <p>로그인 페이지로 이동하시겠습니까?</p>
        <button onclick="goLoginPage(true)">YES</button>
        <button onclick="goLoginPage(false)">NO</button>
    </div>

</body>

<script th:inline="javascript">
    function goLoginPage(yn) {
        if (yn == true) location.href = "/members/login";
        else location.href = "/members/join";
    }
</script>

</html>